@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

* {
  font-family: 'Ancizar Sans', sans-serif;
}

html, body {
  font-size: 16.5px;
  line-height: 1.55;
  color: #212529;
}

table {
  font-size: 15.5px;
}